.centered-content {
    display: flex;
    justify-content: center;
}
.title{
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: xx-large;
}
.tasks-container input[type='text'] {
    margin-right: 1%;
    margin-top: 1%;
    padding: 0.5% 5% 0.5% 0.9%;
    width: 20%;
    border-radius: 33px;
    border: solid 1px black;
}
.tasks-container input[type='date'] {
    margin-right: 1%;
    padding: 0.5%;
    border-radius: 33px;
    border: solid 1px black;
}
.tasks-container button {
    padding: 0.3% 2%;
    border-radius: 33px;
    border: solid black 1px;
    background: black;
    color: white;
}
select {
    padding: 0.5% 1%;
    border-radius: 33px;
}
.status-container {
    flex: 0 0 20%;
    text-align: center;
    margin: 1%;
    border-radius: 18px;
    padding: 1%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
section#status-counter {
    display: flex;
    justify-content: center;
}
#myProgress {
    width: 100%;
    background-color: #e9e9e9;
    border-radius: 33px;
}
  
#myBar {
    width: 6%;
    height: 30px;
    background-color: green;
    border-radius: 33px;
}
.complete-st{
    background: #86ff86;
    border: none;
}
.incomplete-st{
    border: none;
    background: #fc8686;
}
.inprogress-st{
    border: none;
    background: #ffcf77;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}
section.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 2%;
}
button#logout-btn {
    padding: 0.3% 1%;
    border-radius: 33px;
    color: white;
    background: black;
    font-size: small;
    cursor: pointer;
}
.login_signup_container input {
    border: none;
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 33px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#login_btn , #signup_btn {
    margin-top: 10%;
    margin-bottom: 3%;
    padding: 2% 10%;
    border-radius: 20px;
    background: black;
    color: white;
    cursor: pointer;
}
#sign_up_btn , #log_in_btn{
    text-decoration: underline;
    font-size: small;
    cursor: pointer;
}